<!DOCTYPE html>
<html lang="es">
  <!-- head común -->
  <%- include('partials/head') %>
<body>
  <!-- header común -->
  <%- include('partials/header') %>

  <!-- Banner -->
  <div class="banner">
    <img src="/images/img-home-banner.jpg" alt="Banner de ofertas">
  </div>

  <!-- Productos -->
  <div class="container products-wrapper">
    <div class="row">
      <div class="col-12">
        <h2 class="products-title">Productos</h2>
      </div>

      <!-- Recorro la lista de productos -->
      <% products.forEach(function(product){ %>
        <div class="col-12 col-sm-6 col-lg-3">
          <section class="product-box">
            <a href="/products/<%= product.id %>">
              <figure class="product-box_image">
                <img src="<%= product.imagen %>" alt="<%= product.nombre %>">
              </figure>
              <article class="product-box_data">
                <h2><%= product.nombre %></h2>
                <p><%= product.descripcion %></p>
                <p>Comentarios: <%= product.comentarios.length %></p>
              </article>
            </a>
          </section>
        </div>
      <% }) %>

    </div>
  </div>

  <!-- footer común -->
  <%- include('partials/footer') %>
</body>
</html>



  


