<!DOCTYPE html>
<html lang="es">
  <!-- head común -->
  <%- include('partials/head') %>
<body>
  <% if (locals.user != undefined) { %>
    <%- include('./partials/headerLogueado') %>
  <% } else { %>
    <%- include('./partials/header') %>
  <% } %>
  <!-- Banner -->
  <div class="banner">
  <!--  la ruta de mi imagen esta definida en el css como background image-->
  </div>

  <!-- Productos -->
  <div class="container products-wrapper">
    <div class="row">
      <div class="col-12">
        <h2 class="products-title">Productos</h2>
      </div>
      <!-- Recorro la lista de productos -->
<% 
// Usamos un for para recorrer los productos que ahora vienen en dataCompleta
for (let i = 0; i < dataCompleta.length; i++) { 
  let product = dataCompleta[i]; // Producto actual 
%>
  <div class="col-12 col-sm-6 col-lg-3">
    <section class="product-box">
      <a href="/products/<%= product.id %>">
        <figure class="product-box_image">
          <img src="<%= product.imageFilename %>" alt="<%= product.name %>">
        </figure>
        <article class="product-box_data">
          <h2><%= product.name %></h2>
          <p><%= product.description %></p>
          <p>
            Comentarios: 
            <%= (product.comentariosProducto && product.comentariosProducto.length) ? product.comentariosProducto.length : 0 %>
          </p>

          <p class="product-user">
        Publicado por:
          <a href="/users/detalleUsuario/id/<%= product.usuarioProducto.id %>"> <%= product.usuarioProducto.username %>
          </a> </p>
        </article>
      </a>

      


    </section>
  </div>
<% } %> 
    </div>
  </div>
 <!-- footer común -->
  <%- include('partials/footer') %>
 
</body>
</html>
