<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %>
<body>
  <%- include('partials/header') %>

  <div class="container products-wrapper">
    <div class="row">
      <div class="col-12">
        <h2 class="products-title">Resultados de búsqueda</h2>
        <h3>Buscaste: "<%= q %>"</h3>
      </div>

      <% results.forEach(function(p){ %>
        <div class="col-12 col-sm-6 col-lg-3">
          <section class="product-box">
            <a href="/products/<%= p.id %>">
              <figure class="product-box_image">
                <img src="<%= p.imagen %>" alt="<%= p.nombre %>">
              </figure>
              <article class="product-box_data">
                <h2><%= p.nombre %></h2>
                <p><%= p.descripcion %></p>
                <p>Comentarios: <%= p.comentarios.length %></p>
              </article>
            </a>
          </section>
        </div>
      <% }) %>
    </div>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
